*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #000;
    color: white;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
header nav{
    display: flex;
    justify-content: space-between;
}

header nav .logo{
    color:blue;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 5rem;
    cursor: pointer;

}
header nav .logo span{
    color: white;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0 3rem;
}

nav ul li{
    list-style: none;
    padding:0rem 0.5rem;
    cursor: pointer;
}

